.summary{
    border: 1px solid #1a1a1a;
    padding: 1rem;
    margin: 1rem 0;
}
.summary h2 {
    color: #1a1a1a;
    font-size: 1.5rem;
    margin: 0.25rem 0;
}
.summary p {
    margin: 0.25rem 0;
}
.output {
    font-weight: bold;
    color: #1a1a1a;
}
